/*-----------Geral-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #323232;
  border: none;
}

/*-----------Header-----------*/
.logo {
  width: 280px;
}

.header {
  background: rgb(29, 31, 56);
  margin-bottom: 2%;
}
.header_area {
  padding: 1% 2%;
}
.menu_area nav a {
  background-color: #08067c;
  color: white;
}
.nav-link {
  margin: 0 2%;
}
.form-control {
  margin-left: 10px;
}
.menu_area nav a:hover {
  background-color: #7498e7;
}
.active {
  background-color: #072c70c7 !important;
}
.card {
  margin-top: 30px;
}

input,
label {
  display: block;
  outline: none;
  width: 100%;
}

/* form */
#main-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#main-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
}

.dropdown-toggle {
  background-color: rgb(2, 6, 56);
}

/*-----------Busca-----------*/

.resultado{
  width: 100%;
}

.resultado img {
  float: left;
  padding-right: 0.4%;
  padding-top: 0.2%;
  height: 30px;
}

.tags {
  color: blue;
}

/* Botoes like dislike */
.like {
  background-color: green;
}
.dislike {
  background-color: red;
}

/* SVG Fav Icon */
.fav-icon {
  width: 35px;
  height: 35px;
  fill: black;
}
.fav-icon-true {
  fill: yellow !important;
}
/* Dropdown container */

#dropdown-container{
  width: 10%;
  height: 20%;
}
#dropdown-container > button {
  width: 50%;
  margin-top: 4%;
}

.cardNot {
  height: 550px;
}

label {
  font-weight: bold;
  font-size: 0.8rem;
}

.full-box {
  flex: 1 1 100%;
  position: relative;
}

.tags {
  color: blue;
}

.half-box {
  flex: 1 1 45%;
  position: relative;
}

.cardNot {
  height: 550px;
}


/*-----------Login/Register-----------*/

#login-box,
#register-box {
  padding: 5%;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}

#login {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
}
#login h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
}

#remember-me {
  margin-right: 5px;
}

#remember-me,
#remember-me-label {
  display: inline-block;
  width: auto;
}

input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 0.9rem;
  margin-bottom: 40px;
}

input:focus {
  border-color: #e60084;
}

input[type="submit"] {
  background-color: #200d75;
  color: rgb(250, 248, 248);
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
}

#btn-submit{
  background-color: #200d75;
  color: rgb(250, 248, 248);
  border: none;
  padding: 10px;
  border-radius: 20px;
  height: 40px;
}

#agreement {
  margin-right: 5px;
}

#agreement,
#agreement-label {
  display: inline-block;
  width: auto;
}

.error-validation {
  color: #ff1a1a;
  position: absolute;
  top: 57px;
  font-size: 12px;
}

.template {
  display: none;
}

input[type="enter"] {
  background-color: #200d75;
  color: rgb(250, 248, 248);
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 1024px)
{
  .logo{
    width: 150px;
   }
}

@media (max-width: 768px){

}