/* CSS do Template*/

.logo {
  width: 280px;
  margin-top: 10px;
  margin-left: 30px;
}
.header {
  background: rgb(29, 31, 56);
  margin-bottom: 20px;
}
.header_area {
  padding: 20px;
}
.menu_area {
  margin-top: 30px;
  margin-left: -30px;
}
.menu_area nav a {
  background-color: #08067c;
  color: white;
}
.nav-link {
  margin-inline: 10px;
}
.form-control {
  margin-left: 10px;
}
.menu_area nav a:hover {
  background-color: #7498e7;
}
.active {
  background-color: #072c70c7 !important;
}
.card {
  margin-top: 30px;
}

/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #323232;
  border: none;
}

input,
label {
  display: block;
  outline: none;
  width: 100%;
}

/* form */
#main-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
}

#main-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
}
.dropdown-toggle {
  background-color: rgb(2, 6, 56);
  margin-top: 20px;
  margin-left: 1300px;
}

.resultado img {
  float: left;
  padding-right: 0.4%;
  padding-top: 0.2%;
  height: 30px;
}

.tags {
  color: blue;
}
.cardNot {
  height: 550px;
}

#login-box,
#register-box {
  padding: 5%;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}

/* SVG Fav Icon */
.fav-icon {
  width: 35px;
  height: 35px;
  fill: black;
}
.fav-icon-true {
  fill: yellow !important;
}
/* Botoes like dislike */
.like {
  background-color: green;
}
.dislike {
  background-color: red;
}
